@model Nolan.HK.Application.Contracts.Dtos.UserDto
@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<hr />
 
    <div class="col-md-4" >
        <form action="@Url.Action("/TimeCard/index")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="Password" asp-for="Password" type="password" value="gl@123321" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" value="Login" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Registered">Registered</a>
            </div>
        </form>
    </div>
 


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        $("#submit").click(function () {
            var name = $("#Name").val();
            var password = $("#Password").val();
            $.ajax({
                url: "User/Login",
                contentType: "application/json;charset=utf-8",
                type: "post",
                data: JSON.stringify({
                    Name: name,
                    Password: password
                }),
                success: function (data) {
                    if (data == "nopass") {
                        alert("密码错误");
                    }
                    else {
                        sessionStorage.setItem("key", data);
                        window.location.href = "/TimeCard/Intail";
                    }
                }
            });
        });
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
