
@model Nolan.HK.Application.Contracts.Dtos.UserDto

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("/TimeCard/index")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="Password" asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Registered">Registered</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $.ajaxSetup({
            header: { abc: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI2NGIxYTg5Zi00MmExLTRlNzUtYmMzNy0zZTdkOGExMmViZDUiLCJuYW1lIjoiYWRtaW4iLCJVc2VyVHlwZUVudW0iOjAsIm5iZiI6MTY1NjA5ODY2NywiZXhwIjoxNjU2MDk4NjY3LCJpc3MiOiJqd3RJc3N1ZXJ0ZXN0IiwiYXVkIjoiand0QXVkaWVuY2V0ZXN0In0.CqzzWfuLpk30fXpDrRYVva1JFOj7NORj4zHQz0WmCBg" }
        });
        $("#submit").click(function () {

            var name = $("#Name").val();
            var password = $("#Password").val();
            $.ajax({
                url: "User/Login",
                contentType: "application/json;charset=utf-8",
                type: "post",
                data: JSON.stringify({
                    Name: name,
                    Password: password
                }),
               
                success: function (data) {
                    sessionStorage.setItem("key", data);
                    window.location.href = "/TimeCard/Intail";
                } 
            });

             


            //var obj = JSON.stringify({ 'Name': name, 'Password': password });
            //$.ajax({
            //    type: "post",
            //    contentType: "application/json;charset=utf-8",
            //    url: "/User/Login",
            //    data: JSON.stringify({
            //        Name: name,
            //        Password: password
            //    }),
            //    success: function (data) {
            //        sessionStorage.setItem("key", data);
            //        window.location.href = "/TimeCard/Intail";
            //    }
            //});

            

        });


    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
